extends ../layout/commonLayout 

block content
      div.d-flex.mb-3
        h1.m-0 User
        a.btn.btn-secondary.m-1.ms-2(href='/user/create') New
      table.table.table-success.table-striped
        thead
          tr
            th(scope='col') #
            th(scope='col') Avatar
            th(scope='col') ID
            th(scope='col') Name
            th(scope='col') Age
            th(scope='col') Phone
            th(scope='col') Password
            th(scope='col') Action
        tbody
          each user, key in data
            tr.align-middle
              th(scope='row')=key
              td 
                img(src=user.avatar, width='60') 
              td=user.id
              td=user.name
              td=user.age
              td=user.phone
              td=user.password
              td
                a.btn.btn-outline-secondary(href=`user/view/${user.id}`) View
                a.btn.btn-outline-danger.ms-2.disabled(href=`user/delete/${user.id}`) Delete
                
